<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="base_path" value="D:\SCP\Work"/>
    <add key="target_path" value="D:\SCP\Merge"/>
    <add key="source_file" value="D:\SCP\copylist.txt"/>
  </appSettings>
</configuration>
